<form>
    <fieldset>
      <legend>Receive Shipment</legend>
      <div class="form-group">
        <label for="name">Warehouse Name</label>
        <input type="text" #name class="form-control" value="Warehouse Houstan" id="name" placeholder="Enter warehouse name">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" #location class="form-control" value="Houstan" id="location" placeholder="Enter warehouse location">
      </div>
      <div class="form-group">
        <label for="arrivalMode">Shipment Arrival Mode</label>
        <input type="text" #arrivalMode class="form-control" value="Truck | Cargo" id="arrivalMode" placeholder="Enter shipment arrival mode">
      </div>
      <div class="form-group">
        <label for="storageCondition">Warehouse Storage Condition</label>
        <input type="text" #storageCondition class="form-control" value="COOL -3deg" id="storageCondition" placeholder="Enter warehouse Storage Condition">
      </div>
      <button type="button" (click)="onSubmit(name,location,arrivalMode,storageCondition)" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
  